@import "tailwindcss";

@font-face {
	font-family: "Urbanist";
	src: url("/fonts/Urbanist-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nohemi";
	src: url("/fonts/Nohemi-Regular-BF6438cc4d0e493.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nohemi-ExtraBold";
	src: url("/fonts/Nohemi-ExtraBold-BF6438cc5881baf.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ProductSans";
	src: url("/fonts/ProductSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nohemi-SemiBold";
	src: url("/fonts/Nohemi-SemiBold-BF6438cc588a48a.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Regular";
	src: url("/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Raleway-Regular";
	src: url("/fonts/Raleway-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-Regular";
	src: url("/fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-bold";
	src: url("/fonts/Poppins-bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	background-color: #def6d5 !important;
	transition: background-color 5000s ease-in-out 0s !important;
	color: black !important;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Urbanist", "Poppins-Regular", "Poppins-bold", "Nohemi",
		"Raleway-Regular", "Nohemi-ExtraBold", "Nohemi-SemiBold", "ProductSans",
		"Inter", "Roboto-Regular", sans-serif;
}

.owl-item {
	transition: background-color 0.1s ease-in-out; /* Smooth transition */
	border-radius: 12px;
}

.owl-item.center {
	background-color: #def6d5;
}

.owl-item:not(.center) {
	background-color: white;
}